<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }
    </style>
        <!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</head>
<body>
    <p id="hotelId" style="display: none;"><%=id%></p>
    <p id="hotelRoom" style="display: none;"><%=hotelRoom%></p>
    <p id="hotelAdults" style="display: none;"><%=hotelAdults%></p>
    <p id="dateFrom" style="display: none;"><%=dateFrom%></p>
    <p id="dateTo" style="display: none;"><%=dateTo%></p>
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a href="#!" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>Continue Booking</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">

                                </div>

                                <div class="card mb-3" style="height: inherit; background-color: transparent !important;
                                border: transparent 10px solid !important;
                                box-shadow: none !important;">
                                    <div class="card-body" id="book-hotel">
                                        <!-- <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="https://images.oyoroomscdn.com/uploads/hotel_image/98204/thumb/lnlwpgivsdqq.jpg"
                                                        class="img-fluid rounded-3" alt="Shopping item"
                                                        style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>OYO Flagship Hotel Inn Grand</h5>
                                                    <p class="small mb-0">Plot No. 4, Main Road Haiderpur, Shalimar
                                                        Road, Opp. Gali No. 2, Delhi-110088</p>
                                                    <p class="small mb-0"><span>1</span> Night</p>
                                                    <p class="mb-0">
                                                        <a href="#!" style="color: #cecece;"><i class="fas fa-calendar"></i></a>
                                                        Thu, 19 Oct - Fri, 20 Oct <span>1</span>room
                                                        <span>1</span> Guests </p>
                                                    <p class="mb-0">
                                                        <a href="#!" style="color: #cecece;"><i class="fas fa-door-closed"></i></a>
                                                        Classic</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3" id="details">
                                    <!-- <div class="card-body" >
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Enter Your details</h5>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>
                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg"
                                                    siez="17" placeholder="Full Name" />
                                                <label class="form-label" for="typeName">Full Name</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeText" class="form-control form-control-lg"
                                                    siez="17" placeholder="XYZ@gmail.xom" minlength="19"
                                                    maxlength="19" />
                                                <label class="form-label" for="typeText">Email</label>
                                            </div>
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeText" class="form-control form-control-lg"
                                                    siez="17" placeholder="+91 12324 15555" minlength="19"
                                                    maxlength="19" />
                                                <label class="form-label" for="typeText">Mobile Number</label>
                                            </div>

                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2">₹ 4798</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Discount</p>
                                            <p class="mb-2">₹ 500</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">₹ 4298</p>
                                        </div>

                                        <button type="button" class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span>₹ 4298</span>
                                                <a href="/reciept" style="color: white;"><span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span></a>
                                            </div>
                                        </button>

                                    </div> -->
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/bookHotel.js"></script>
</body>
</html>